/*NAVIGATION QUERYS*/
@media screen and (max-width: 900px) {
  .main-nav {
    width: 40%;
  }
}

@media screen and (max-width: 380px) {
  .main-nav {
    font-size: 70%;
  }
}

@media screen and (max-width: 380px) {
  nav img {
    height: 40px;
  }
}

/*QUERYS FOR BOX CONTENTS ON LANDING PAGE*/
@media only screen and (max-width: 1300px) {
  .border-box,
  .border-box1 {
    margin-top: 8%;
  }
}

@media only screen and (max-width: 1050px) {
  .border-box,
  .border-box1 {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 1024px) {
  .border-box,
  .border-box1 {
    margin-top: 18%;
  }
}

@media only screen and (max-width: 850px) {
  .border-box,
  .border-box1 {
    margin-top: 15%;
  }
}

@media only screen and (max-width: 550px) {
  .border-box,
  .border-box1 {
    margin-top: 20%;
  }
}

@media only screen and (max-width: 430px) {
  .border-box {
    margin-top: 25%;
  }
}

@media only screen and (max-width: 380px) {
  .border-box {
    margin-top: 25%;
  }
}

/*CONTENT INSIDE LEFT BOX LANDING PAGE****************************/
@media only screen and (max-width: 1024px) {
  .border-box-content.content-queries {
    font-size: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .author-name {
    font-size: 80%;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 1024px) {
  #psw-disclaimer {
    font-size: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .border-box-content.content-queries {
    font-size: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .author-name {
    font-size: 50%;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 768px) {
  #psw-disclaimer {
    font-size: 50%;
  }
}

@media only screen and (max-width: 540px) {
  .border-box-content.content-queries {
    font-size: 38%;
    padding: 20px 50px 20px 50px;
  }
}
@media only screen and (max-width: 540px) {
  .author-name {
    font-size: 40%;
  }
}

@media only screen and (max-width: 540px) {
  #psw-disclaimer {
    font-size: 30%;
  }
}

@media only screen and (max-width: 414px) {
  .border-box-content.content-queries {
    font-size: 55%;
  }
}
@media only screen and (max-width: 414px) {
  .author-name {
    font-size: 50%;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 414px) {
  #psw-disclaimer {
    font-size: 38%;
  }
}

@media only screen and (max-width: 411px) {
  .border-box-content.content-queries {
    font-size: 55%;
  }
}
@media only screen and (max-width: 411px) {
  .author-name {
    font-size: 50%;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 411px) {
  #psw-disclaimer {
    font-size: 38%;
  }
}

@media only screen and (max-width: 375px) {
  .border-box-content.content-queries {
    font-size: 50%;
  }
}
@media only screen and (max-width: 375px) {
  .author-name {
    font-size: 50%;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 375px) {
  #psw-disclaimer {
    font-size: 38%;
  }
}

@media only screen and (max-width: 360px) {
  .border-box-content.content-queries {
    font-size: 45%;
    padding: 15px 50px 10px 50px;
  }
}
@media only screen and (max-width: 360px) {
  .author-name {
    font-size: 50%;
    margin-bottom: 2%;
  }
}
@media only screen and (max-width: 320px) {
  #psw-disclaimer {
    font-size: 30%;
  }
}
@media only screen and (max-width: 280px) {
  #psw-disclaimer {
    font-size: 35%;
  }
}

/*QUERYS FOR ABOUT ME PAGE*/
@media screen and (max-width: 1024px) {
  #profile-img {
    width: 200px;
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  .interest-section {
    font-size: 190%;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1024px) {
  #dev-info-heading {
    font-size: 120%;
  }
}

@media screen and (max-width: 1024px) {
  .author-info {
    font-size: 60%;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 768px) {
  #profile-img {
    width: 300px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .interest-section {
    font-size: 130%;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  #dev-info-heading {
    font-size: 120%;
  }
}

@media screen and (max-width: 768px) {
  .author-info {
    font-size: 60%;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 5404px) {
  #profile-img {
    width: 180px;
    height: auto;
  }
}

@media screen and (max-width: 540px) {
  .interest-section {
    font-size: 65%;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 540px) {
  #dev-info-heading {
    font-size: 120%;
  }
}

@media screen and (max-width: 540px) {
  .author-info {
    font-size: 70%;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 414px) {
  #profile-img {
    width: 150px;
    height: auto;
  }
}

@media screen and (max-width: 414px) {
  .interest-section {
    font-size: 80%;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 414px) {
  #dev-info-heading {
    font-size: 120%;
  }
}

@media screen and (max-width: 414px) {
  .author-info {
    font-size: 50%;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 411px) {
  #profile-img {
    width: 150px;
    height: auto;
  }
}

@media screen and (max-width: 411px) {
  .interest-section {
    font-size: 80%;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 411px) {
  #dev-info-heading {
    margin-top: 0%;
  }
}

@media screen and (max-width: 411px) {
  .author-info {
    font-size: 75%;
  }
}

@media screen and (max-width: 375px) {
  #profile-img {
    width: 150px;
    height: auto;
  }
}

@media screen and (max-width: 375px) {
  .interest-section {
    font-size: 60%;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 375px) {
  #dev-info-heading {
    margin-top: 0%;
  }
}

@media screen and (max-width: 375px) {
  .author-info {
    font-size: 55%;
    letter-spacing: 0px;
  }
}

@media screen and (max-width: 360px) {
  #profile-img {
    width: 150px;
    height: auto;
  }
}

@media screen and (max-width: 360px) {
  .interest-section {
    font-size: 50%;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 360px) {
  #dev-info-heading {
    margin-top: 0%;
  }
}

@media screen and (max-width: 360px) {
  .author-info {
    font-size: 75%;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 320px) {
  #profile-img {
    width: 120px;
    height: auto;
  }
}

@media screen and (max-width: 320px) {
  .interest-section {
    font-size: 50%;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  #dev-info-heading {
    font-size: 120%;
  }
}

@media screen and (max-width: 320px) {
  .author-info {
    font-size: 65%;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 280px) {
  #profile-img {
    width: 120px;
    height: auto;
    margin-top: 0;
  }
}

@media screen and (max-width: 280px) {
  .interest-section {
    font-size: 60%;
    padding: 0;
  }
}

@media screen and (max-width: 280px) {
  #dev-info-heading {
    font-size: 100%;
  }
}

@media screen and (max-width: 280px) {
  .author-info {
    font-size: 60%;
    letter-spacing: 0;
  }
}

/*LOGGED IN SECTION CONTENT****************************************/
/*BUTTONS LOGIN / CLICK ME*/
@media screen and (max-width: 1208px) {
  #joke-btn {
    font-size: 60%;
    width: 30%;
  }
}

@media screen and (max-width: 1208px) {
  #logout {
    width: 30%;
    font-size: 60%;
  }
}
@media screen and (max-width: 1055px) {
  #joke-btn {
    font-size: 50%;
    width: 30%;
  }
}

@media screen and (max-width: 1055px) {
  #logout {
    font-size: 50%;
    width: 30%;
  }
}

@media screen and (max-width: 955px) {
  #joke-btn {
    font-size: 45%;
    width: 30%;
  }
}

@media screen and (max-width: 955px) {
  #logout {
    font-size: 45%;
    width: 30%;
  }
}

@media screen and (max-width: 605px) {
  #joke-btn {
    font-size: 45%;
    width: 40%;
  }
}

@media screen and (max-width: 605px) {
  #logout {
    font-size: 45%;
    width: 40%;
  }
}

@media screen and (max-width: 300px) {
  #joke-btn {
    font-size: 45%;
    width: 40%;
  }
}

@media screen and (max-width: 300px) {
  #logout {
    font-size: 45%;
    width: 40%;
  }
}
/*END OF BUTTONS LOGIN / CLICK ME*/

/*VOTING THUMBS / MEME AND JOKE PARAGRAPH*/
@media screen and (max-width: 1024px) {
  #thumbs-up,
  #thumbs-down {
    font-size: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .meme-img.meme {
    height: 300px;
  }
}

@media screen and (max-width: 1024px) {
  #jokes {
    font-size: 100%;
    padding: 15% 4% 0;
  }
}
@media screen and (max-width: 768px) {
  #thumbs-up,
  #thumbs-down {
    font-size: 100%;
  }
}

@media screen and (max-width: 768px) {
  .meme-img.meme {
    height: 200px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  #jokes {
    font-size: 70%;
    padding: 23% 4% 0;
  }
}

@media screen and (max-width: 540px) {
  #thumbs-up,
  #thumbs-down {
    font-size: 100%;
  }
}

@media screen and (max-width: 540px) {
  .meme-img.meme {
    height: 140px;
    padding-bottom: 6px;
  }
}

@media screen and (max-width: 540px) {
  #jokes {
    font-size: 50%;
    padding: 10% 4% 0;
  }
}

@media screen and (max-width: 415px) {
  #thumbs-up,
  #thumbs-down {
    font-size: 100%;
  }
}

@media screen and (max-width: 415px) {
  .meme-img.meme {
    height: 150px;
  }
}

@media screen and (max-width: 415px) {
  #jokes {
    font-size: 70%;
    padding: 4% 4% 0;
  }
}

@media screen and (max-width: 411px) {
  #thumbs-up,
  #thumbs-down {
    font-size: 130%;
    margin-bottom: 40%;
  }
}

@media screen and (max-width: 411px) {
  .meme-img.meme {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 411px) {
  #jokes.jokes-class {
    font-size: 70%;
    padding: 4% 4% 0;
  }
}

@media screen and (max-width: 360px) {
  #thumbs-up,
  #thumbs-down {
    font-size: 100%;
  }
}

@media screen and (max-width: 360px) {
  .meme-img.meme {
    height: 150px;
  }
}
@media screen and (max-width: 375px) {
  #jokes.jokes-class {
    font-size: 50%;
    padding: 4% 4% 0;
  }
}

@media screen and (max-width: 360px) {
  #jokes.jokes-class {
    font-size: 50%;
    padding: 4% 4% 0;
  }
}

@media screen and (max-width: 320px) {
  #thumbs-up,
  #thumbs-down {
    font-size: 100%;
    padding-bottom: 0;
    margin-bottom: 20%;
  }
}

@media screen and (max-width: 320px) {
  .meme-img.meme {
    height: 100px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  #jokes {
    font-size: 10px;
    margin-top: 4%;
  }
}
/*END OF VOTING THUMBS / MEME AND JOKE PARAGRAPH*/
