* {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  height: 100vh;

  /*Background image*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.85)),
    url(/Images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/*-------------LANDING PAGE-------------*/
/***HEADER/Navigation CONTAINER***/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8%;
  background-color: rgb(240, 240, 240);
  z-index: 3;
  border-bottom: 3px solid #e67b3a;
}
nav img {
  height: 75px;
  float: left;
  padding-right: 10%;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.main-nav li {
  list-style: none;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  color: rgb(80, 80, 80);
}
.main-nav li a:hover,
.main-nav li a:active {
  text-decoration: none;
  border-bottom: 2px solid #e67b3a;
  color: #000;
}

/*Landing Page - Content*/
/*---------RE-USABLE COMPONENTS---------*/

/*Left borderbox on landing page*/
.border-box {
  background-color: rgb(240, 240, 240);
  height: 80vh;
  color: rgb(26, 26, 26);
  margin-top: 7%;
  opacity: 0.9;
  overflow-y: auto;
  border-radius: 15px;
  box-shadow: 1px 0px 5px 0px #e67b3a;
  letter-spacing: 1px;
}

/*Right borderbox on landing page*/
.border-box1 {
  background-color: rgb(240, 240, 240);
  height: 80vh;
  color: rgb(26, 26, 26);
  margin-top: 7%;
  opacity: 0.9;
  overflow-y: none;
  border-radius: 15px;
  box-shadow: 1px 0px 5px 0px #e67b3a; /*Comment back to get orange border*/
  letter-spacing: 1px;
  overflow-y: auto;
}

.border-box h3 {
  text-align: center;
  font-style: italic;
  padding: 60px 50px 1px 50px;
}

.border-box-content {
  font-weight: 300;
  font-size: 90%;
  padding: 50px 50px 10px 50px;
  text-align: center;
  word-spacing: 2px;
}

/*OKTA SIGN IN STYLING****************************************/
.okta-sign-in-header {
  display: none;
}

#lgn-btn-container {
  height: 60vh;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#logout {
  width: 20%;
  font-weight: 400;
  border-radius: 10px;
  padding: 3px 20px;
  font-size: 75%;
  outline: none;
  cursor: pointer;
  position: relative;
}

#messageBox {
  margin-top: 7%;
  text-align: center;
}

.button {
  color: #fff;
  background-color: #007dc1;
  font-size: 90%;
  text-align: center;
  padding-bottom: 3px;
}

.button:link,
.button:visited {
  color: #fff;
  background-color: #0073b2;
}
.button:hover,
.button:active {
  color: #fff;
  background-color: #0073b2;
}

.text-center {
  text-align: center;
  font-family: "Lato", sans-serif;
  margin: 4% 10%;
  font-weight: 350;
  font-style: italic;
  font-size: 68%;
  letter-spacing: 2px;
}
/*END OF OKTA STYLING***********************************************/

/*API SECTION / JOKES **********************************************/

#jokes {
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  font-weight: 350;
  font-size: 90%;
  padding: 0px 50px 40px 50px;
  text-align: center;
  word-spacing: 2px;
  position: fixed;
  animation: meme 1.5s ease-in-out;
}

#joke-btn {
  height: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 75%;
  padding: 15px 20px;
  text-align: center;
  width: 20%;
  margin-bottom: 3%;
  background-color: #007dc1;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

#joke-btn:hover,
#joke-btn:active {
  background-color: #0073b2;
}

#thumbs-up,
#thumbs-down {
  display: inline-block;
  outline: none;
  margin-bottom: 40px;
  border: none;
  border-radius: 10%;
  animation: meme 1.5s ease-in-out;
}

#thumbs-up:hover,
#thumbs-down:hover,
#thumbs-up:active,
#thumbs-down:active {
  background-color: #5050501e;
  cursor: pointer;
}

/* #counter-like,
#counter-dislike {
  display: inline-block;
  font-size: 80%;
  font-weight: 400;
  animation: meme 1.5s ease-in-out;
} */

/*Blue color to not confuse colorblind people*/
#counter-like {
  color: #007dc1;
}
#counter-dislike {
  color: #007dc1;
}

.vote-container {
  /* height: 5vh; */
  position: relative;
  margin-bottom: 2%;
}

.meme {
  height: 200px;
  width: auto;
  position: relative;
  padding-bottom: 35px;
}
.meme.change {
  animation: meme 1.5s ease-in-out;
}
/*KEY FRAMES ATTACHED TO LIKE/DISLIKE-COUNTER AND THUMBSUP/THUMBSDOWN BUTTONS AND THE API JOKE PARAGRAPH*/
@keyframes meme {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
/*END OF API SECTION*******************************/

/***************ABOUT SECTION******************/
/*Author Image / Author info*/
#profile-img {
  margin-top: 20px;
  width: 200px;
  height: auto;
  border-radius: 50%;
}

#author-heading {
  font-size: 150%;
  font-weight: 500;
}

.author-container {
  border-right: 2px solid #e67b3a;
  box-shadow: 1.5px 0px 0px 0px #e67c3a98;
  height: 95.5%;
  position: relative;
}

#dev-info-heading {
  margin-top: 2%;
  font-size: 140%;
  font-weight: 600;
  color: rgb(49, 49, 49);
  text-shadow: 3px 3px 1px rgb(173, 173, 173);
}

#author-list {
  text-align: center;
  font-size: 80%;
  list-style: none;
  font-weight: 400;
  color: #505050;
}

#author-list li {
  margin-bottom: 3%;
}
#author-list li a {
  text-decoration: none;
  color: #c75006;
}

#author-list li a:link,
#author-list li a:visited {
  text-decoration: none;
  color: #c75006;
}

#author-list li a:hover,
#author-list li a:active {
  text-decoration: none;
  border-bottom: 2px solid #808080;
  color: #e67b3a;
}

.author-interests {
  border-top: 1px dotted #000;
  margin: 0 25px;
  margin-top: 40px;
  font-size: 75%;
  letter-spacing: 2px;
  color: #505050;
}
/*END OF ABOUT SECTION**********************/
