* {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  height: 100vh;

  /*Background image*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/*-------------LANDING PAGE-------------*/
/***HEADER/Navigation CONTAINER***/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8%;
  background-color: rgb(240, 240, 240);
  z-index: 3;
  border-bottom: 3px solid #e67b3a;
}
nav img {
  height: 75px;
  float: left;
  padding-right: 10%;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.main-nav li {
  list-style: none;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  color: rgb(80, 80, 80);
}
.main-nav li a:hover,
.main-nav li a:active {
  text-decoration: none;
  border-bottom: 2px solid #e67b3a;
  color: #000;
}
@media screen and (max-width: 900px) {
  .main-nav {
    width: 40%;
  }
}

/*Landing Page - Content*/
/*---------RE-USABLE COMPONENTS---------*/
.border-box {
  background-color: rgb(240, 240, 240);
  height: 80vh;
  color: rgb(26, 26, 26);
  margin-top: 7%;
  opacity: 0.9;
  overflow-y: auto;
  border-radius: 15px;
  box-shadow: 1px 0px 5px 0px #e67b3a;
  letter-spacing: 1px;
}
.border-box h1 {
  text-align: center;
  font-style: italic;
  padding: 20px 50px 1px 50px;
}

.border-box-content {
  font-weight: 300;
  font-size: 90%;
  padding: 20px 50px;
  text-align: center;
  word-spacing: 2px;
}
@media only screen and (max-width: 480px) {
  .border-box-content {
    font-size: 80%;
  }
}
@media only screen and (max-width: 1050px) {
  .border-box-content {
    font-size: 60%;
  }
}

/**************LOGIN SECTION**************/
.login-label {
  padding: 82px 50px 2px 50px;
  text-align: center;
  font-weight: 300;
}

form {
  border: 3px solid #f1f1f1;
  font-size: 50%;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container {
  /* padding: 16px; */
  padding: 0 15%;
}

span.psw {
  float: right;
  /* padding-top: 16px; */
}

/* Change styles for span button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

/**************REGISTER SECTION***************/
.reg-label {
  padding: 42px 50px 2px 50px;
  text-align: center;
  font-weight: 300;
}

/* Style the input container */
.input-container {
  display: flex;
  width: 85%;
  margin-bottom: 5px;
}

/* Style the form icons */
.icon {
  margin-left: 17%;
  padding: 5px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  width: 70.5%;
  margin-left: 14.4%;
}

.btn:hover {
  opacity: 1;
}

/*Icon formatting*/
ion-icon {
  height: 45px;
  width: 30px;
}

/***************ABOUT SECTION******************/
/*Author Image*/
#profile-img {
  margin-top: 20px;
  width: 200px;
  height: auto;
  border-radius: 50%;
}

#author-heading {
  font-size: 150%;
  font-weight: 500;
}

#author-container {
  border-right: 2px solid #e67b3a;
  box-shadow: 2px 0px 0px 0px #e67c3a98;
  height: 95.5%;
}
