* {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  height: 100vh;

  /*Background image*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/*-------------LANDING PAGE-------------*/
/***HEADER/Navigation CONTAINER***/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8%;
  background-color: rgb(240, 240, 240);
  z-index: 3;
  border-bottom: 3px solid #e67b3a;
}
nav img {
  height: 75px;
  float: left;
  padding-right: 10%;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.main-nav li {
  list-style: none;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  color: rgb(80, 80, 80);
}
.main-nav li a:hover,
.main-nav li a:active {
  text-decoration: none;
  border-bottom: 2px solid #e67b3a;
  color: #000;
}
@media screen and (max-width: 900px) {
  .main-nav {
    width: 40%;
  }
}

/*Landing Page - Content*/
/*---------RE-USABLE COMPONENTS---------*/
.border-box {
  background-color: rgb(240, 240, 240);
  height: 80vh;
  color: rgb(26, 26, 26);
  margin-top: 7%;
  opacity: 0.9;
  overflow-y: auto;
  border-radius: 15px;
  box-shadow: 1px 0px 5px 0px #e67b3a;
  letter-spacing: 1px;
}
.border-box h1 {
  text-align: center;
  font-style: italic;
  padding: 20px 50px 1px 50px;
}

.border-box-content {
  font-weight: 300;
  font-size: 90%;
  padding: 20px 50px;
  text-align: center;
  word-spacing: 2px;
}
@media only screen and (max-width: 480px) {
  .border-box-content {
    font-size: 80%;
  }
}
@media only screen and (max-width: 1050px) {
  .border-box-content {
    font-size: 60%;
  }
}

/*OKTA SIGN IN STYLING*/
/* #logout {
  display: none;
} */

/***************ABOUT SECTION******************/
/*Author Image / Author info*/
#profile-img {
  margin-top: 20px;
  width: 200px;
  height: auto;
  border-radius: 50%;
}

#author-heading {
  font-size: 150%;
  font-weight: 500;
}

.author-container {
  border-right: 2px solid #e67b3a;
  box-shadow: 1.5px 0px 0px 0px #e67c3a98;
  height: 95.5%;
  position: relative;
}

#dev-info-heading {
  margin-top: 2%;
  font-size: 140%;
  font-weight: 600;
  color: rgb(49, 49, 49);
  text-shadow: 3px 3px 1px rgb(173, 173, 173);
}

@media screen and (max-width: 1160px) {
  #dev-info-heading {
    margin-top: 10%;
  }
}
@media screen and (max-width: 1000px) {
  #dev-info-heading {
    margin-top: 10%;
  }
}
@media screen and (max-width: 650px) {
  #dev-info-heading {
    margin-top: 10%;
  }
}

@media screen and (max-width: 540px) {
  #dev-info-heading {
    margin-top: 10%;
  }
}

#author-list {
  text-align: center;
  /* margin-left: 10%; */
  font-size: 80%;
  list-style: none;
  font-weight: 400;
  color: #505050;
}

#author-list li {
  margin-bottom: 3%;
}
#author-list li a {
  text-decoration: none;
  color: #c75006;
}

#author-list li a:link,
#author-list li a:visited {
  text-decoration: none;
  color: #c75006;
}

#author-list li a:hover,
#author-list li a:active {
  text-decoration: none;
  border-bottom: 2px solid #808080;
  color: #e67b3a;
}

.author-interests {
  border-top: 1px dotted #000;
  margin: 0 25px;
  margin-top: 40px;
  font-size: 75%;
  letter-spacing: 2px;
  color: #505050;
}
/*END OF ABOUT SECTION**********************/

/*LOGGED-IN.HTML SECTION*/
.welcome {
  text-align: center;
  margin-top: 5%;
}

/*Transforms all username inputs to lowercase letters*/
#lowcaseLetterUserLogin {
  text-transform: lowercase;
}
#lowcaseLetterUserRegister {
  text-transform: lowercase;
}
